<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keyword"]" />
    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- CSS Style -->
    <link href="~/client-side/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/client-side/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/client-side/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/client-side/css/pe-icon-7-stroke.min.css" rel="stylesheet" />
    <link href="~/client-side/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/client-side/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/client-side/css/flexslider.css" rel="stylesheet" />
    <link href="~/client-side/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/client-side/css/revolution-slider.css" rel="stylesheet" />
    <link href="~/client-side/css/quick_view_popup.css" rel="stylesheet" />
    <link href="~/client-side/css/blog.css" rel="stylesheet" />
    <link href="~/client-side/css/shortcode.css" rel="stylesheet" />
    <link href="~/client-side/css/shortcodes/shortcodes.css" rel="stylesheet" />
    <link href="~/client-side/css/shortcodes/featured-box.css" rel="stylesheet" />
    <link href="~/client-side/css/shortcodes/pricing-table.css" rel="stylesheet" />
    <link href="~/client-side/css/shortcodes/tooltip.css" rel="stylesheet" />
    <link href="~/client-side/css/shortcodes/post.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/client-side/css/style.css">
    <link href="~/client-side/css/responsive.css" rel="stylesheet" />
    <link href="~/client-side/css/custom/client-side.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body class="@ViewData["BodyClass"]">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- mobile menu -->
    @await Component.InvokeAsync("MobileMenu")
    <!-- end mobile menu -->
    <div id="page">
        <!-- Header -->
        @await Component.InvokeAsync("HeaderDetail")
        <!-- end header -->
        <nav>
            <div class="container">
                <div class="row">
                    <div class="mm-toggle-wrap">
                        <div class="mm-toggle"><i class="fa fa-align-justify"></i> </div>
                        <span class="mm-label">All Categories</span>
                    </div>
                    <div class="col-md-3 col-sm-3 mega-container hidden-xs">
                        @await Component.InvokeAsync("Category")
                    </div>
                    <div class="col-md-9 col-sm-9 jtv-megamenu">
                        @await Component.InvokeAsync("HeaderMenu")
                    </div>
                </div>
            </div>
        </nav>
        @RenderBody()
        <partial name="_QuickViewPartial.cshtml">
            <partial name="_Subscription.cshtml">
                <!-- Footer -->
                @await Component.InvokeAsync("Footer")
                <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
                <!-- End Footer -->
    </div>
    <!-- JS -->
    <!-- jquery js -->
    <script type="text/javascript" src="/client-side/js/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="/client-side/js/bootstrap.min.js"></script>
    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="/client-side/js/owl.carousel.min.js"></script>
    <!-- jquery.mobile-menu js -->
    <script type="text/javascript" src="/client-side/js/mobile-menu.js"></script>
    <!--jquery-ui.min js -->
    <script type="text/javascript" src="/client-side/js/jquery-ui.js"></script>
    <!-- main js -->
    <script type="text/javascript" src="/client-side/js/main.js"></script>
    <!-- countdown js -->
    <script type="text/javascript" src="/client-side/js/countdown.js"></script>
    <!-- Slider Js -->
    <script type="text/javascript" src="/client-side/js/revolution-slider.js"></script>
    <!--Mustache-->
    <script src="~/lib/mustache/mustache.min.js"></script>
    <!--Base Js-->
    <script src="~/client-side/js/controller/base/base.min.js"></script>
    <!--Subscription-->
    <script src="~/client-side/js/controller/newsletter/newsletter.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
