@model NetCoreOnlineShop.Models.ProductViewModels.SearchViewModel
@{
    ViewData["Title"] = "New arrival products";
    ViewData["Keyword"] = "New arrival products";
    ViewData["SeoDescription"] = "New arrival products in " + DateTime.Now.ToShortDateString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>New arrival products</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="shop-inner">
                    <div class="page-title">
                        <h2>New arrivals</h2>
                    </div>
                    <div class="toolbar column">
                        <form asp-action="NewArrival" asp-controller="Product" method="get">
                            <div class="sorter">
                                <div class="short-by">
                                    <label>Sort By:</label>
                                    <select name="sortBy" asp-for="SortType" onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                                </div>
                                <div class="short-by page">
                                    <label>Show:</label>
                                    <select name="pageSize" asp-for="PageSize" asp-items="Model.PageSizes" onchange="this.form.submit()"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="product-grid-area">
                        <ul class="products-grid">
                            @foreach (var item in Model.Data.Results)
                            {
                                var url = $"/product-{item.SeoAlias}-{item.Id}.html";
                                var productImages = item.ProductImages.Take(2);
                                if (productImages.Count() == 0)
                                {
                                    continue;
                                }

                                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                @{
                                                    if (item.PromotionPrice.HasValue)
                                                    {
                                                        <div class="icon-sale-label sale-left">Sale</div>
                                                    }
                                                    if (DateTime.Now.Year == item.CreatedDate.Year)
                                                    {
                                                        <div class="icon-new-label new-right">New</div>
                                                    }
                                                    if (item.HotFlag == Status.Active)
                                                    {
                                                        <div class="icon-hot-label hot-left">Hot</div>
                                                    }
                                                }
                                                <div class="pr-img-area">
                                                    <a title="@item.Name" href="@url">
                                                        <figure>
                                                            @{
                                                                <img class="first-img" src="@productImages.First().Path" alt="@productImages.First().Caption">
                                                                if (productImages.Count() == 2)
                                                                {
                                                                    <img class="hover-img" src="@productImages.Last().Path" alt="@productImages.Last().Caption">
                                                                }
                                                            }
                                                        </figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@item.Name" href="@url">@item.Name</a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                @{
                                                                    if (item.PromotionPrice.HasValue)
                                                                    {
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $@item.PromotionPrice.Value </span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $@item.Price </span> </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="regular-price"><span class="price"> $@item.Price </span></span>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    @(await Component.InvokeAsync("Pager", Model.Data))
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_ServicePartial">
