@model NetCoreOnlineShop.Models.IdentityViewModel.AccountDashboard
@using Microsoft.AspNetCore.Http.Extensions
@using NetcoreOnlineShop.Utilities.Constants
@{
    ViewData["Keyword"] = "Accout Dashboard";
    ViewData["Description"] = "Accout Dashboard";
    ViewData["Title"] = "Accout Dashboard";

    var listLinks = CommonConstants.listLinks;
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <script src="~/client-side/js/controller/dashboard/userInfor.min.js"></script>
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Account</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-10">
                <div class="my-account">
                    <div class="page-title">
                        <h2>Account dashboard</h2>
                    </div>
                    <div class="wishlist-item table-responsive">
                        <div class="welcome-msg">
                            <strong>Hello, @Model.FullName!</strong>
                            <p>From your Account Dashboard you have the ability to view and change your account informations.</p>
                        </div>
                        <form method="post" id="frm-user-dasboard">
                            @Html.AntiForgeryToken()
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Fullname:</label>
                                        <div class="input-text">
                                            <input asp-for="FullName" class="form-control" name="FullName" placeholder="Fullname..." />
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Address:</label>
                                        <div class="input-text">
                                            <input asp-for="Address" class="form-control" name="Address" placeholder="Address" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Phone number:</label>
                                        <div class="input-text">
                                            <input asp-for="PhoneNumber" class="form-control" name="PhoneNumber" placeholder="Phone number..." />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Birthday:</label>
                                        <div class="input-text">
                                            <input type="date" asp-for="BirthDay" class="form-control" name="BirthDay" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Old password:</label>
                                        <div class="input-text">
                                            <input type="password" asp-for="OldPassword" class="form-control" name="OldPassword" placeholder="Current password..." />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>New password:</label>
                                        <div class="input-text">
                                            <input type="password" asp-for="NewPassword" class="form-control" name="NewPassword" placeholder="New password..." />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-10">
                                        <div>
                                        </div><br />
                                        <div class="submit-text">
                                            <button type="submit" class="button btn-save-change"><i class="fa fa-user"></i>&nbsp; <span>Save Change</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><br />
                <div class="box-account">
                    <div class="page-title">
                        <h2>Account Information</h2>
                    </div>
                    <div class="col2-set">
                        <div class="col-1">
                            <h6>Contact Information</h6>
                            <p>
                                @Model.FullName<br>
                                @Model.Email<br>
                            </p>
                        </div>
                        <div class="col-2">
                            <h5>Newsletters</h5>
                            <p> You are currently subscribed to our newsletter. </p>
                        </div>
                    </div>
                    <div class="col2-set">
                        <div class="col-1">
                            <h5>Primary Billing Address</h5>
                            <address>
                                Name: @Model.FullName<br>
                                Add: @Model.Address<br>
                                Tel: @Model.PhoneNumber <br>
                            </address>
                        </div>
                        <div class="col-2">
                            <h5>Primary Shipping Address</h5>
                            <address>
                                Name: @Model.FullName<br>
                                Add: @Model.Address<br>
                                Tel: @Model.PhoneNumber <br>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="right sidebar col-sm-3 col-xs-12">
                <div class="sidebar-account block">
                    <div class="sidebar-bar-title">
                        <h3>My Account</h3>
                    </div>
                    <div class="block-content">
                        @{
                            var url = @Context.Request.GetDisplayUrl();
                        }
                        <ul>
                            @foreach (var item in listLinks)
                            {
                                if (url.Contains(item.Url))
                                {
                                    <li class="current"><a href="@item.Url">@item.Name</a></li>
                                }
                                else if (listLinks.Last() == item)
                                {
                                    <li class="last"><a href="@item.Url">@item.Name</a></li>
                                }
                                else
                                {
                                    <li><a href="@item.Url">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                @await Component.InvokeAsync("RightSideBar")
            </aside>
        </div>
    </div>
</section>
<partial name="_ServicePartial">
